.about{
	width: 100%;
	height: 110rem;
	padding: 10rem 5rem;

	@include respondmax(sm){
		height: 205rem;
		padding: 5rem 2rem;
	}

	&__text{
		@include font($ll, 1.8rem, #000, $w:400);
		margin-bottom: 2rem;

		@include respondmax(sm){
			@include font($ll, 1.4rem, #000, $w:400);
			margin-bottom: 2rem;
		}
	}
	

}