.about{
	width: 100%;
	padding: 10rem 5rem;
	
	@include respondmax(md){
		padding: 5rem 0;
	}

	@include respondmax(sm){
		padding: 5rem 2rem;
	}

	&__text{
		@include font($ll, 1.8rem, #000, $w:400);
		margin-bottom: 2rem;

		@include respondmax(md){
			@include font($ll, 1.4rem, #000, $w:400);
			margin-bottom: 2rem;
		}
	}
	

}