.footer{
	width: 100%;
	background-color: #325DFF;
	padding: 3rem 0;


	&__text{
		@include font($ll, 1.8rem, #fff, $w:900);
		letter-spacing: 3px;

		@include respondmax(md){
			@include font($ll, 1.5rem, #fff, $w:900);
		}

		@include respondmax(sm){
			@include font($ll, 1.1rem, #fff, $w:900);
		}

	}
}