.work{
	width: 100%;
	padding: 0;
	display: flex;


	&__left{
		width: 50%;
		padding: 14rem 10rem;
		text-align: left;
		

		@include respondmax(xl){
			padding: 3rem 6rem;
		}

		@include respondmax(lg){
			padding: 0;
			padding-left: 1rem;
		}


		@include respondmax(sm) {
			width: 100%;
			padding: 5rem 3rem;
			text-align: center;
		}

		&--title{
			@include font($ll, 5rem, #000, $w:400);
			margin-bottom: 3rem;

			@include respondmax(xl){
				@include font($ll, 4rem, #000, $w:400);
			}

			@include respondmax(md){
				@include font($ll, 3rem, #000, $w:400);
			}

			@include respondmax(sm) {
				@include font($ll, 2.5rem, #000, $w:400);
			}
		}

		&--text{
			@include font($ll, 1.8rem, #000, $w:400);
			text-align: left;
			margin-bottom: 3rem;

			@include respondmax(sm) {
				text-align: center;
			}
		}

	}


	&__right{
		width: 50%;

		@include respondmax(sm) {
			width: 0;
		}

		.img-fluid{
			width: 100%;
			height: 100%;
		}
	}
}