.card{
	padding: 3rem;
	position: relative;
	transition: all .4s;
	margin-bottom: .5rem;
	

	@include respondmax(sm){
		padding: 2rem;
	}

	&:hover{
		cursor: pointer;
		box-shadow: 0 1rem 2rem rgba(0,0,0,.6);
		transform: translateY(-5px);
	}

	&__icon{
		height: 8.8rem;
		width: 8.8rem;
		border-radius: 50%;
		background-color: #325DFF;
		color: #fff;
		margin-top: 4rem;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50% );



		& .fas{
			line-height: 8rem;

			@include respondmax(md){
				font-size: 2.5rem;
			}
		}

		@include respondmax(xl) {
			margin-top: 2.5rem;
		}		

	}

	&__title{
		@include font($ll, 2.5rem, #000, $w:900);
		margin-bottom: 3rem;
		margin-top: 14rem;

		@include respondmax(md){
			@include font($ll, 2.5rem, #000, $w:900);
		}

		@include respondmax(sm){
			@include font($ll, 2.5rem, #000, $w:900);
			margin-bottom: 3rem;
			margin-top: 14rem;
		}
		

	}

	&__text{
		@include font($ll, 1.8rem, #777, $w:900);
		margin-bottom: 0; 

		@include respondmax(md){
			@include font($ll, 1.4rem, #777, $w:900);
		}

		@include respondmax(sm){
			@include font($ll, 1.4rem, #777, $w:900);
		}
	}
}